/* Align main content to center */
.main-content {
    position: absolute; 
    left: 50%; 
    top: 50%;
    transform: translate(-50%, -50%)
}

/* Align main content to bottom */
.bottom-content {
  position: absolute; 
  left: 50%; 
  top: 80%;
  transform: translate(-50%, -50%)
}

/* Sticky footer styles */
html {
    position: relative;
    min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 60px; /* Vertically center the text there */
  background-color: #505050;
}